@tailwind base;
  @tailwind components;
  @tailwind utilities;
  
::-moz-selection {
    color: white;
    background-color: #344f97;
}

::selection {
    color: white;
    background-color: #344f97;
}

::-webkit-scrollbar {
    width: 1.2em;
}

::-webkit-scrollbar-track {
    background: #344f97e6;
}

::-webkit-scrollbar-thumb {
    background: rgb(169, 185, 255);
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
}

body {
    margin: 0;
    font-family: "Inter Tight Variable", "HelveticaNeue", "Helvetica Neue", Helvetica, "Neue Haas Grotesk", "Arial", "Lucida Grande", sans-serif !important;
    background-color: #1d1d1d;
    color:#dbdbdb;
}

h2 {
    font-weight: bold;
    color:#7690d6;
}

h5 {
    color:rgb(138, 138, 138);
}

.customNav {
    text-align: right;
    padding: 0% 2%;
}

@media screen and (min-width: 992px) {
    .customNav {
        padding: 0 8.2%;
    }
}

@media screen and (max-width: 576px) {
    .introDescription {
        display: none;
    }
    .heroButton {
        width: 80%;
        text-align: center;
        margin-bottom: 5%;
    }
    .w-sm-100 {
        width: 100%;
        text-align: center;
    }
}


.aboutIcons {
    padding-left: 15px;
    margin-top: 0vh;
    padding-bottom: 80px;
}

.section {
    color: #4f72d1;
    margin-left: -0.37em;
    writing-mode: vertical-lr;
    font-size: 15vmin;
    font-weight: 700;
}

.subtitle {
    writing-mode: vertical-lr;
    margin-left: 0px;
    color: rgb(192, 192, 192);
}

.item-divider {
    padding-bottom: 5%;
}

.skills {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

.animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s linear infinite;
    -moz-animation: animatedgradient 6s linear infinite;
    animation: animatedgradient 6s linear infinite;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 150% 50%;
    }
}