body {
    margin: 0;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, "Neue Haas Grotesk", Arial, "Lucida Grande", sans-serif;
    background-color: grey;
}

h2 {
    color:rgb(79, 25, 104);
}

nav {
    position: absolute;
    top: 20px;
    right: 0;
}

nav ul {
    text-decoration: none;
    list-style-type: none;
}

nav ul li {
    font-weight: 750;
    display: inline;
    padding-right: 30px;
    font-size: 20px;
}

.line, .vline {
    border-top: 1px solid rgb(187, 187, 187);
    text-align: right;
    width: 560px;
}

.main-wrapper {
    height: 100vh;
}

.vCenter {
    display: inline-block;
    position: relative;
    top: 40%;
}

#introHead {
    display: inline-block;
    vertical-align: middle;
    color:white;
}

.right-align {
    text-align: right;
}

.aboutIcons {
    padding-left: 15px;
    font-size: 2.5em;
    margin-top: 0vh;  
    padding-bottom: 80px;
}

.projectIcon {
    padding-left: 15px;
    font-size: 1.5em;
}

.fab, .fas {
    color: rgb(192, 192, 192);
    text-decoration: none;
    transition: all 0.5s;
}

.fab:hover, .fas:hover {
    color: rgb(133, 157, 236);
    transition: all 0.5s;
}

.section {
    margin-left: -0.33em;
    writing-mode: vertical-lr;
    font-size: 10em;
    font-weight: 700;
}

.subtitleSection {
    text-align: left;
    font-size: 1.5em;
}

.subtitle {
    writing-mode: vertical-lr;
    margin-left: 0px;
    font-size: 2.5em;
    color: rgb(192, 192, 192);
}

.item-divider {
    padding-bottom: 10%;
}