---
import { cn } from '@/lib/utils';
import {Button as ShadcnButton, type ButtonProps} from './ui/button';
interface Props extends ButtonProps {
  href: string;
  newTab?: boolean;
  className?: string;
  display?: 'block' | 'inline-block' | 'flex' | 'inline' | 'inline-flex';
  staticSize?: boolean;
}

const { href, newTab=false, className, display='inline', variant='default', staticSize, ...props } = Astro.props;
---
<a href={href} target={newTab ? "_blank" : "_self"} class={cn('w-fit h-fit', !staticSize && 'max-md:w-full')} style={`display: ${display}`}>
  <ShadcnButton variant={variant} {...props} className={className}>
    <slot />
  </ShadcnButton>
</a>