---
import Layout from "../layouts/Layout.astro";
import Navbar from "../layouts/Navbar.astro";
import "../../globals.css";
import { Linkedin, Mail, Github, Instagram, FileText } from "lucide-astro";
import Button from "@/components/Button.astro";

const projects = await Astro.glob("../content/projects/*.md");
const experiences = await Astro.glob("../content/experience/*.md");
---

<Layout title="Adamo Orsini">
  <main>
    <Navbar />
    <div class="w-full">
      <div
        id="about"
        class="navSection grid px-3 grid-cols-12 gap-4 h-[calc(100vh-5rem)] md:h-[calc(100vh-3.5rem)]"
      >
        <div class="max-md:hidden md:col-span-2">
          <h1 class="section sticky py-3 z-0 top-0 md:top-14">ABOUT</h1>
        </div>
        <div class="col-span-12 md:col-span-10">
          <div class="grid grid-cols-12 h-full gap-4">
            <div
              class="space-y-3 col-span-12 max-md:px-6 md:col-span-10 lg:col-span-11 text-start self-center"
            >
              <div class="">
                <h1 id="introHead" class="inline text-5xl lg:text-6xl font-bold bg-gradient-to-r from-white/80 via-primaryBlue to-white/80 text-transparent bg-clip-text bg-300% animate-gradient">
                  Hi, I'm Adamo Orsini!</h1>&nbsp;<span class="text-5xl lg:text-6xl">✌️</span>
              </div>
              <h2 class="text-3xl lg:text-4xl">
                I'm an aspiring Software Engineer based in Montreal.&nbsp;🍁
              </h2>
              <h3>
                Currently, I'm planning on pursuing a Master's in Computer
                Science with a focus on Applied Machine Learning.&nbsp;🤖
              </h3>
              <h3>
                My background is mainly in full-stack web development with
                modern technologies including Next.js.&nbsp;🧑‍💻
              </h3>
              <h3>
                If you have a project in mind, feel free to reach out!&nbsp;🚀
              </h3>
              <div class="text-start flex flex-row gap-3 flex-wrap pt-2">
                <Button
                  href="mailto:adamo.orsini01@gmail.com"
                  className="w-full"
                  variant={"default"}
                >
                  <Mail
                    class="mr-2"
                    size="20"
                    title="Send an email to adamo.orsini01@gmail.com"
                  />
                  Contact Me</Button
                >
                <Button
                  href="Adamo Orsini Resume 2024.pdf"
                  newTab
                  className="w-full"
                  variant={"outline"}
                >
                  <FileText
                    class="mr-2"
                    size="20"
                    title="View Adamo Orsini's resume"
                  />
                  Resume</Button
                >
              </div>
            </div>
            <div
              class="flex flex-col gap-4 max-md:hidden md:inline self-end border-s aboutIcons"
            >
              <Button
                href="https://www.linkedin.com/in/adamo-orsini/"
                display="block"
                variant={"ghost"}
                size={"icon"}
                staticSize
                newTab
                title="adamo-orsini on LinkedIn"
              >
                <Linkedin
                  class="w-8 h-8"
                  title="adamo-orsini on LinkedIn"
                /></Button
              >
              <Button
                href="mailto:adamo.orsini01@gmail.com"
                display="block"
                variant={"ghost"}
                size={"icon"}
                staticSize
                newTab
                title="adamo.orsini01@gmail.com"
              >
                <Mail class="w-8 h-8" title="adamo.orsini01@gmail.com" />
              </Button>
              <Button
                href="https://github.com/Adamo-O/"
                display="block"
                variant={"ghost"}
                size={"icon"}
                staticSize
                newTab
                title="Adamo-O on GitHub"
              >
                <Github class="w-8 h-8" title="Adamo-O on GitHub" />
              </Button>
              <Button
                href="https://www.instagram.com/adamoorsini/"
                display="block"
                variant={"ghost"}
                size={"icon"}
                staticSize
                newTab
                title="@adamoorsini"
              >
                <Instagram class="w-8 h-8" title="@adamoorsini" />
              </Button>
            </div>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-12 px-3 gap-4">
        <div class="col-span-2 pt-3">
          <h1 class="section sticky pb-3 z-0 top-3 md:top-16">PROJECTS</h1>
        </div>
        <div id="projects" class="col-span-10 -scroll-m-2 navSection pb-4">
          {projects.map((project) => <project.Content />)}
        </div>
      </div>
      <div class="grid grid-cols-12 px-3 gap-4">
        <div class="col-span-2 pt-3 md:border-r">
          <h1 class="section sticky pb-3 z-0 top-3 md:top-16">EXPERIENCE</h1>
        </div>
        <div id="experience" class="col-span-10 -scroll-m-2 navSection pb-4">
          {experiences.map((experience) => <experience.Content />)}
        </div>
      </div>
      <div
        id="contact"
        class="px-3 navSection grid grid-cols-12 h-[calc(100vh-5.5rem)] md:h-[calc(100vh-3.5rem)]"
      >
        <div class="col-span-2">
          <h1 class="section sticky z-0 top-3 md:top-16">CONTACT</h1>
        </div>
        <div class="col-span-10 md:col-span-8 lg:col-span-9">
          <div class="grid grid-cols-12 pb-3 mb-3">
            <div class="col-span-12 lg:col-span-8 xl:col-span-6 space-y-1">
              <h2 class="text-3xl lg:text-4xl">Get In Touch</h2>
              <p class="pb-3">
                Whether you have a question or would just like to reach out, my
                inbox is always open! 
                <br />Contact me via my social media below and
                I'll get back to you as soon as possible.
              </p>
              <div class="flex gap-3 flex-wrap">
                <Button href="mailto:adamo.orsini01@gmail.com"
                className="max-md:w-full"
                  ><Mail
                    size="20"
                    class="mr-2"
                    title="adamo.orsini01@gmail.com"
                  />Send an email</Button
                >
                <Button
                  href="https://www.linkedin.com/in/adamo-orsini/"
                  className="max-md:w-full"
                  newTab
                  variant={"outline"}
                  ><Linkedin
                    size="20"
                    class="mr-2"
                    title="adamo-orsini on LinkedIn"
                  />Visit my LinkedIn</Button
                >
              </div>
            </div>
          </div>
          <div class="grid grid-cols-12 justify-start pb-3 mb-3">
            <div
              class="col-span-12 lg:col-span-8 xl:col-span-6 text-start space-y-1"
            >
              <h2 class="text-3xl lg:text-4xl">Resume</h2>
              <p class="pb-3">
                Looking for more information? 
                <br />Check out my resume below for a
                brief layout of my career, projects, and skills.
              </p>
              <div class="flex flex-row gap-3 flex-wrap">
                <Button
                  href="Adamo Orsini Resume 2024.pdf"
                  newTab
                  className="w-full"
                >
                  <FileText
                    class="mr-2"
                    size="20"
                    title="View Adamo Orsini's resume"
                  />
                  Resume</Button
                >
              </div>
            </div>
          </div>
          <div class="grid grid-cols-12 pb-3 mb-3">
            <div class="col-span-12 lg:col-span-8 xl:col-span-6 mb-1">
              <h2 class="text-3xl lg:text-4xl">Socials</h2>
            </div>
            <div class="col-span-12 flex gap-1">
              <Button
                href="https://www.linkedin.com/in/adamo-orsini/"
                variant={"ghost"}
                size={"icon"}
                staticSize
                newTab
                title="adamo-orsini on LinkedIn"
              >
                <Linkedin
                  size="35"
                  title="adamo-orsini on LinkedIn"
                /></Button
              >
              <Button
                href="mailto:adamo.orsini01@gmail.com"
                variant={"ghost"}
                size={"icon"}
                staticSize
                newTab
                title="adamo.orsini01@gmail.com"
              >
                <Mail size="35" title="adamo.orsini01@gmail.com" />
              </Button>
              <Button
                href="https://github.com/Adamo-O/"
                variant={"ghost"}
                size={"icon"}
                staticSize
                newTab
                title="Adamo-O on GitHub"
              >
                <Github size="35" title="Adamo-O on GitHub" />
              </Button>
              <Button
                href="https://www.instagram.com/adamoorsini/"
                variant={"ghost"}
                size={"icon"}
                staticSize
                newTab
                title="@adamoorsini"
              >
                <Instagram size="35" title="@adamoorsini" />
              </Button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="flex flex-col justify-center items-center text-center bg-slate-950 align-middle p-2 min-h-32 max-md:pb-24">
      <p>
        Built and designed by Adamo Orsini. View the source code on my
        GitHub below.
      </p>
      <Button
        href="https://github.com/Adamo-O/Portfolio-website"
        variant={"ghost"}
        size={"icon"}
        newTab
        title="Adamo's Portfolio Website on GitHub"
        ><Github size="30" title="Adamo Portfolio Website on GitHub" /></Button>
      <p>Thanks for stopping by! 👋</p>
    </div>
  </footer>
</Layout>
