---
import { cn } from "@/lib/utils";
import { skillIcons } from "@/lib/skillIcons";

interface SkillProps {
  skill: string;
}

const { skill } = Astro.props as SkillProps;
---
<p class={cn("py-0.5 px-2 rounded-full bg-primaryBlueDark", skillIcons[skill] ? 'flex items-center gap-x-1.5' : 'inline')}>
  {skillIcons[skill] && <i class={skillIcons[skill]}></i>}
  {skill}
</p>